CFP: BFD(Bidirectional Forwarding Detection) support in BGP Control plane

## BFD(Bidirectional Forwarding Detection) support in BGP Control plane
        
BFD is a health checking mechanism made for rapid (sub second) failure detection of data forwarding planes. Its a protocol which can be employed together with protocols such as BGP, IS-IS and OSFP to shorten the time between a failure and automated actions like retracting routes to reroute traffic. The protocol is describes in [RFC5880](https://www.rfc-editor.org/rfc/rfc5880) with the addition of [RFC5881](https://www.rfc-editor.org/rfc/rfc5881) for single hop and [RFC5882](https://www.rfc-editor.org/rfc/rfc5882) for multi hop monitoring.

Adding this feature to our BGP Control Plane would allow users with peers that also support the protocol to reduce downtime in case of failures in Cilium or between Cilium and peers.

## Implementation proposal
Currently our only BGP backend is GoBGP which as of writing this has no BFD support. So we will have to implement it one way or another.

### GoBGP native
The first logical approach would be to add it to GoBGP directly via a PR. GoBGP maintainers have already [indicated](https://github.com/osrg/gobgp/issues/2563) that they are open to PRs for this feature.

Once BFD support is merged upstream and we are able to update to a GoBGP version with BFD support we will have to plumb access to it from our CRD.

### Cilium native
The second approach would be to add BFD capabilities to Cilium directly, either in the agent or the datapath or a combination of the two. BFD works for any application where forwarding takes place such as the Cilium datapath. Having a non-BGP specific implementation would allow us to also use the protocol internally to monitor inter-node connections and connections in standalone L4LB for upstream and downstream.

BFD control packets are sent over UDP in small packets (for IPv4/IPv6 single and multi hop) which is easily parse-able in both XDP and TC layers. The largest obstacle to a pure eBPF based implementation would be the need to send packets on a timer. However, if the peer is in Demand mode we only have to answer to Poll messages and optionally send echo messages back both of which are request-reply without delay.

In this case, we should manually set associated BGP sessions to AdminDown in case of a BFD failure.

### CRD plubing
No matter which route we take for BFD implementation, we will have to provide our users with a way to configure it. Since BGP Control Plane is backend agnostic and not all backends might implement BFD in future, I suggest adding a annotation for the top level CRD. Something like `io.cilium/bfd: "enabled=true,active=true,echo=false,detect-multiplied=5,receive-interval=40000,transmit-interval=20000"`

### User feedback
Any information we have regrading BFD sessions should be added to the agent output (#22009). BFD adds additional diagnostic codes to communicate why a session is down which might be useful in figuring out what is going on. We should also add BFD specific information to the peer information to show the received discriminator and timing values.

### Metrics
As soon as we have BFD session information, it should be added to the BGP metrics described in (#22010) 